<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>857707576305-6947mkjokc87c0id83hhe12qglf9tb87.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.857707576305-6947mkjokc87c0id83hhe12qglf9tb87</string>
	<key>API_KEY</key>
	<string>AIzaSyCbrbe_vCLiTpKNOBUzM0aHU04-ua-96rY</string>
	<key>GCM_SENDER_ID</key>
	<string>857707576305</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.timemapmaker.stackedtasks</string>
	<key>PROJECT_ID</key>
	<string>upwork-projects-56b20</string>
	<key>STORAGE_BUCKET</key>
	<string>upwork-projects-56b20.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:857707576305:ios:2111710a89749978322250</string>
</dict>
</plist>